* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

a{
	text-decoration: none;
}

body {
    background-color: #000000cc;
	animation: fadeIn 1s ease-in-out forwards;
}

@keyframes fadeIn {
    0% 
    {
        opacity: 0;
    }
    100% 
    {
        opacity: 1;
    }
}

header {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1.3rem 2rem;
    background-color: rgb(0, 0, 0, 0.2);
    color: #fff;
}

.logo a {
    text-decoration: none;
    color: #fff;
    font-size: 1.5rem;
    font-weight: bold;
    display: none;
}

nav {
    position: relative;
}

.link a {
    position: relative;
    padding-bottom: 0.75rem;
    color: #ffffff;
}

.link a::after {
    content: "";
    position: absolute;
    height: 5px;
    border-radius: 10rem;
    width: 0;
    bottom: 0;
    left: 0;
    background-color: #00fff2;
    transition: all 0.3s ease;
}

.link a:hover::after {
    width: 70%;
}

.nav-links {
    display: flex;
    list-style: none;
}

.nav-links li {
    margin-left: 2rem;
}

.nav-links a {
    text-decoration: none;
    color: #fff;
    font-size: 1rem;
}

.nav-toggle {
    display: none;
    background: none;
    border: none;
    cursor: pointer;
}

.container{
	display: flex;
	align-items:center;
	justify-content: space-evenly;
}

.container2 h1 {
    color: #ffffff;
    font-size: 5rem;
    justify-content: center;
    display: flex;
}

.container2 h2 {
    color: #ffffff;
    font-size: 3rem;
    justify-content: center;
    display: flex;
}

.container2 a {
    color: #ffffff;
    font-size: 1.5rem;
    font-weight: 1;
    justify-content: center;
    display: flex;
}

.image {
    width: 100%;
    height: 100%;
    scale: 80%;
    display: flex;
    justify-content: center;
    align-items: center;
    image-rendering: optimizeQuality;
}

.image2{
	width: 100%;
	height: 100%;
	scale: 60%;
	display: flex;
	justify-content: space-around;
	align-items: center;
}

.image3{
	width: 100%;
	height: 100%;
	scale: 85%;
	image-rendering:initial;
	display: flex;
	justify-content: space-around;
	align-items: center;
}

.gradient-content{
	margin-left: -15rem;
	margin-bottom: -15rem;
	padding: 3rem;
	max-width: 35rem;
	max-height: 43rem;
	background: rgba(255, 255, 255, 1);
	border-radius: 10px;
	align-items:center;
	justify-content: center;
	color: rgb(66, 66, 66);
	box-shadow: 0 0 50px 6px #0000008c;
}

.gradient-content2{
	padding: 3rem;
	max-height: 43rem;
	background: rgba(255, 255, 255, 1);
	border-radius: 10px;
	display: flex;
	align-items: center;
	justify-content: center;
	color: rgb(66, 66, 66);
	box-shadow: 0 0 50px 6px #0000008c;
}

.content3 a{
	padding: 0.5rem;
	font-size: 1.3rem;
	color: #000000cc;
}

.content5 a{
	color: #a7c6c3;
	font-size: 2.2rem;
	font-weight: bold;
	max-width: 65rem;
	align-items: center;
	display: flex;
	justify-content: space-around;
}

.content5 p{
	color: #a7c6c3;
	font-size: 2.2rem;
	font-weight: bold;
	max-width: 65rem;
	align-items: center;
	display: flex;
	justify-content: space-around;
}

.content6 a{
	color: #008a73;
	font-size: 1.2rem;
	font-weight: bold;
	max-width: 55rem;
	display: flex;
	align-items: center;
	justify-content: center;
}

.content6 p{
	color: #ffffff;
	font-size: 1.2rem;
	font-weight: bold;
	max-width: 55rem;
	display: flex;
	align-items: center;
	justify-content: center;
}

.content7{
	background-color: rgb(39, 39, 39, 0);
	border-radius: 15px;
	max-inline-size: 82rem;
	align-items: center;
	justify-content: center;
	padding: 7rem;
}

.content8 a{
	color: rgb(0, 0, 0);
	font-size: 1.2rem;
	max-width: 55rem;
	display: flex;
	align-items: center;
	justify-content: center;
}

.content8 p{
	color: #000000;
	font-size: 2.2rem;
	font-weight: bold;
	max-width: 55rem;
	display: flex;
	align-items: center;
	justify-content: center;
}

.btn{
	height: 60px;
	width: 200px;
	border-radius: 10px;
	cursor: pointer;
	transition: all 0.3s ease;
	color: #ffffff;
	background-color: rgb(27, 27, 27);
	font-size: 1.2rem;
	border-width: 0;
}

.btn:hover{
	height: 60px;
	width: 200px;
	padding: 0.1rem 0.5rem;
	border-radius: 10px;
	cursor: pointer;
	transition: all 0.3s ease;
	font-size: 1.2rem;
	color: #000000;
	background-color: #15719b00;
	border-color: #000000;
	border-width: 0.3rem;
}

.btn2{
	height: 60px;
	width: 200px;
	border-radius: 10px;
	cursor: pointer;
	transition: all 0.3s ease;
	color: #ffffff;
	background-color: rgb(27, 27, 27);
	font-size: 1.2rem;
	border-width: 0;
}

.btn2:hover{
	height: 60px;
	width: 200px;
	padding: 0.1rem 0.5rem;
	border-radius: 10px;
	cursor: pointer;
	transition: all 0.3s ease;
	font-size: 1.2rem;
	color: #000000;
	background-color: #00c3ff;
	border-color: #000000;
	border-width: 0.3rem;
}

.blur{
	max-width: 40rem;
	margin-left: 29rem;
	margin-bottom: -5rem;
	box-shadow: 0 0 400px 60px #4f8db6;
	margin-top: 6rem;
}

.container-background2{
	display: flex;
	align-items:center;
	justify-content: space-evenly;
	background-color: #292929;
}

.box div{
	position: absolute;
	width: 60px;
	height: 60px;
	background-color: transparent;
	border: 6px solid rgba(255,255,255,0.8);
}

.box div:nth-child(1){
	top: 12%;
	left: 42%;
	animation: anime 5s linear infinite;
}

.box div:nth-child(2){
	top: 70%;
	left: 50%;
	animation: anime 2s linear infinite;
}

.box div:nth-child(3){
	top: 17%;
	left: 6%;
	animation: anime 4s linear infinite;
}

.box div:nth-child(4){
	top: 20%;
	left: 60%;
	animation: anime 5s linear infinite;
}

.box div:nth-child(5){
	top: 67%;
	left: 70%;
	animation: anime 1s linear infinite;
}

.box div:nth-child(6){
	top: 80%;
	left: 70%;
	animation: anime 7s linear infinite;
}

.box div:nth-child(7){
	top: 60%;
	left: 80%;
	animation: anime 7s linear infinite;
}

.box div:nth-child(8){
	top: 32%;
	left: 25%;
	animation: anime 2s linear infinite;
}

.box div:nth-child(9){
	top: 90%;
	left: 25%;
	animation: anime 4s linear infinite;
}

.box div:nth-child(10){
	top: 60%;
	left: 8%;
	animation: anime 3s linear infinite;
}

@keyframes anime{
	0%{
		transform: scale(0) translateY(0) rotate(0);
		opacity: 1;
		border: 6px solid #00ffaa;
		background-color: #00ffbf88;
	}	
	50%{
		border: 6px solid #00fff2;
		background-color: #00fff288;
	}
	100%{
		transform: scale(1) translateY(-90px) rotate(560deg);
		opacity: 0;
		background-color: #5a5a5a75;
		border: 6px solid #5a5a5a;
	}
}

#particles-js{
	width: 55%;
	margin-left: 20rem;
	margin-top: -20rem;
	margin-bottom: -3rem;
}

.hamburger {
    display: block;
    width: 25px;
    height: 3px;
    background-color: #fff;
    position: relative;
}

.hamburger::before,
.hamburger::after {
    content: '';
    display: block;
    width: 25px;
    height: 3px;
    background-color: #fff;
    position: absolute;
    transition: all 0.3s;
}

.hamburger::before {
    top: -8px;
}

.hamburger::after {
    bottom: -8px;
}

@media (max-width: 768px) {
    .nav-links {
        flex-direction: column;
        background-color: rgb(0, 0, 0, 0.4);
        position: absolute;
        top: 2.3rem;
        left: -8.4rem;
        overflow: hidden;
        opacity: 0;
        transition: height 0.3s ease, opacity 0.3s ease;
        padding: 1rem 0;
        border-radius: 0px 0px 10px 10px;
        min-width: 12rem;
    }
    .nav-links.active {
        height: auto;
        opacity: 1;
        padding: 1rem 0rem;
    }
    .nav-links li {
        margin: 1rem 0;
        text-align: center;
    }
    .nav-links a {
        padding: 0.5rem 1rem;
        border-radius: 5px;
        transition: background-color 0.3s;
    }
	.link a::after {
		content: "";
		position: absolute;
		height: 5px;
		border-radius: 10rem;
		width: 0;
		bottom: 0;
		left: 0;
		background-color: #00fff2;
		transition: all 0.3s ease;
	}
	
	.link a:hover::after {
		width: 70%;
		height: 10%;
	}
    .nav-toggle {
        display: block;
    }
    .logo a {
        display: block;
    }
	header {
		display: flex;
		justify-content: space-between;
		align-items: center;
		padding: 1.3rem 2rem;
		background-color: rgb(0, 0, 0, 0.4);
		color: #fff;
	}
	.container{
		display: flex;
		align-items:center;
		justify-content: space-evenly;
	}
	.container2 h1 {
		color: #ffffff;
		font-size: 3rem;
		justify-content: center;
		display: flex;
		margin-top: 12rem;
	}
	.container2 h2 {
		color: #ffffff;
		font-size: 1.5rem;
		justify-content: center;
		display: flex;
	}
	.container2 a {
		color: #ffffff;
		font-weight: bold;
		font-size: 0.65rem;
		font-weight: 1;
		justify-content: center;
		display: flex;
	}
	.blur{
		max-width: 40rem;
		margin-left: 0rem;
		margin-top: 10rem;
		box-shadow: 0 0 400px 60px #4f8db6;
		margin-top: 6rem;
	}
	img{
		width: 100%;
    	height: 100%;
	}
	.image {
    	scale: 90%;
    	display: flex;
   	 	justify-content: center;
    	align-items: center;
    	image-rendering: optimizeQuality;
		margin-top: -4rem;
    }
	.image2{
		width: 100%;
		height: 100%;
		scale: 60%;
		image-rendering:inherit;
		display: flex;
		justify-content: space-around;
		align-items: center;
	}
	.gradient-content{
		padding: 1rem;
		margin-left: -25.8rem;
		margin-top: 24rem;
		margin-bottom: -25rem;
		min-width: 26rem;
		max-height: 30rem;
		max-width: 26rem;
		min-height: 30rem;
		background: rgba(255, 255, 255, 1);
		border-radius: 10px;
		color: rgb(66, 66, 66);
		box-shadow: 0 0 50px 6px #0000008c;
	}
	.content3 a{
		padding: 0rem;
		font-size: 1rem;
		font-weight: bold;
		color: #000000cc;
	}
	.content5 a{
		color: #a7c6c3;
		font-size: 1.3rem;
		font-weight: bold;
		max-width: 65rem;
		align-items: center;
		display: flex;
		justify-content: space-around;
	}
	.content6 a{
		color: #ffffff;
		font-size: 0.8rem;
		font-weight: bold;
		max-width: 55rem;
		align-items: center;
		align-items: center;
		justify-content: center;
	}
	.content7{
		background-color: rgb(0, 0, 0, 0.4);
		border-radius: 15px;
		max-width: 22.5rem;
		margin-top: 0rem;
		align-items: center;
		justify-content: center;
		padding: 1.5rem;
	}
	.container-background2{
		margin-top: 20rem;
		display: flex;
		align-items:center;
		justify-content: space-evenly;
		background-color: #1f1f1f00;
		padding: 2rem;
	}
	#particles-js{
		width: 60%;
		margin-left: 8rem;
		margin-top: -10rem;
		margin-bottom: 0rem;
	}
}
