*{
	padding: 0;
	margin: 0;
	outline: none;
	border: none;
	box-sizing: border-box;
}

a{
	text-decoration: none;
}

body{
	font-family: 'Poppins', sans-serif;
	background-color: rgb(0, 0, 0, 0.8);
	animation: fadeIn 1s ease-in-out forwards;
	align-items: center;
}

@keyframes fadeIn {
    0% 
    {
        opacity: 0;
    }
    100% 
    {
        opacity: 1;
    }
}

.nav-logo{
	scale: 50%;
}

nav{
	margin: none;
	padding: 1.2rem 2rem;
	display: flex;
	justify-content: center;
	background-color: rgb(0, 0, 0, 0.2);
}

.nav-links{
	list-style: none;
	display: flex;
	align-items: center;
	gap: 3rem;
}
.nav-btn{
	list-style: none;
	display: flex;
	align-items: center;
	justify-content: center;
	gap: 3rem;
}

.link a{
	position: relative;
	padding-bottom: 0.75rem;
	color: #ffffff;
}

.link a::after{
	content: "";
	position: absolute;
	height: 5px;
	border-radius: 10rem;
	width: 0;
	bottom: 0;
	left: 0;
	background-color: #00fff2;
	transition: all 0.3s ease;
}

.link a:hover::after{
	width: 70%;
}

.link2 a{
	position: relative;
	padding-bottom: 0.75rem;
	color: #ffffff;
}

.btn{
	height: 35px;
	padding: 0.1rem 0.5rem;
	border-radius: 10px;
	cursor: pointer;
	transition: all 0.3s ease;
	outline: 2px solid #34eb95;
	color: #34eb95;
	background-color: #2d302f;
}

.btn:hover{
	outline: 0px solid #34eb95;
	height: 35px;
	padding: 0.1rem 0.5rem;
	border-radius: 10px;
	background-color: #34eb95;
	color: rgb(0, 0, 0, 1.0);
	cursor: pointer;
	outline: 2px solid #34eb95;
	transition: all 0.3s ease;
}

.btn2{
	height: 60px;
	width: 200px;
	border-radius: 10px;
	cursor: pointer;
	transition: all 0.3s ease;
	color: #ffffff;
	background-color: rgb(27, 27, 27);
	font-size: 1.2rem;
}

.btn2:hover{
	height: 70px;
	width: 210px;
	padding: 0.1rem 0.5rem;
	border-radius: 10px;
	cursor: pointer;
	transition: all 0.3s ease;
	font-size: 1.2rem;
}

.btn3{
	height: 60px;
	width: 200px;
	border-radius: 10px;
	cursor: pointer;
	transition: all 0.3s ease;
	color: #ffff;
	background-color: rgb(0, 0, 0, 0.8);
	font-size: 1.2rem;
	margin-left: 20px;
}

.btn3:hover{
	height: 60px;
	width: 200px;
	outline: 0px solid #ff8c00;
	padding: 0.1rem 0.5rem;
	border-radius: 10px;
	background-color: #ff8c00;
	color: #ffff;
	cursor: pointer;
	transition: all 0.3s ease;
	font-size: 1.2rem;
}

.btn4{
	height: 60px;
	width: 200px;
	border-radius: 10px;
	cursor: pointer;
	transition: all 0.3s ease;
	color: #ffffff;
	background-color: rgb(27, 27, 27);
	font-size: 1.2rem;
}

.btn4:hover{
	height: 70px;
	width: 210px;
	padding: 0.1rem 0.5rem;
	border-radius: 10px;
	cursor: pointer;
	transition: all 0.3s ease;
	font-size: 1.2rem;
	background-color: rgb(0, 89, 255);
}

.btn5{
	height: 60px;
	width: 200px;
	border-radius: 10px;
	cursor: pointer;
	transition: all 0.3s ease;
	color: #ffffff;
	background-color: rgb(27, 27, 27);
	font-size: 1.2rem;
}

.btn5:hover{
	height: 70px;
	width: 210px;
	padding: 0.1rem 0.5rem;
	border-radius: 10px;
	cursor: pointer;
	transition: all 0.3s ease;
	font-size: 1.2rem;
	background-color: rgb(255, 140, 0);
}

.container{
	display: flex;
	align-items:center;
	justify-content:center;
}

.container2{
	background-color: white;
	display: flex;
	align-items:center;
	justify-content: space-evenly;
}

hr {
	margin-left: 0rem;
	margin-right: 0rem;
	border: none; /* Remove default border */
	height: 1.6px;  /* Set the thickness */
	background-color: #000; /* Set the color */
}

.gradient-content{
	padding: 3rem;
	max-width: 50rem;
	max-height: 107rem;
	background: rgba(255, 255, 255, 1);
	border-radius: 10px;
	align-items:center;
	justify-content: center;
	color: rgb(66, 66, 66);
	box-shadow: 0 0 50px 6px #0000008c;
}

.gradient-content2{
	padding: 3rem;
	max-width: 45rem;
	max-height: 47rem;
	background: rgba(255, 255, 255, 1);
	border-radius: 10px;
	align-items:center;
	justify-content: center;
	color: rgb(66, 66, 66);
	box-shadow: 0 0 50px 6px #0000008c;
}

.content4{
	padding-left: 6rem;
	padding-right: 6rem;
	align-items:center;
	justify-content: space-between;
	display: flex;
}

.button_content{
	display: flex;
	align-items:center;
	justify-content:center;
}

img{
	display: flex;
	justify-content: center;
	align-items: center;
}

.image{
	width: 100%;
	height: 100%;	
	scale: 70%;
	display: flex;
	justify-content: center;
	align-items: center;
}

.image2{
	width: 100%;
	height: 100%;	
	scale: 70%;
	display: flex;
	justify-content: center;
	align-items: center;
}

.image3{
	width: 100%;
	height: 100%;	
	scale: 50%;
	display: flex;
	justify-content: center;
	align-items: center;
}

header .content h4{
	color: #333333;
	justify-content: center;
	display: flex;
	font-size: 1.3rem;
	transition: all 0.3s ease;
}

header .content h4:hover{
	color: #35898b;
	justify-content: center;
	display: flex;
	font-size: 1.3rem;
}

header .content h3{
	color: #333333;
	justify-content: center;
	display: flex;
	font-size: 2rem;
}

header .content h1{
	color: #333333;
	font-size: 5rem;
	justify-content: center;
	display: flex;
}

header .content h2{
	color: #333333;
	font-size: 3rem;
	justify-content: center;
	display: flex;
}

header .content a{
	color: #333333;
	font-size: 1.3rem;
	font-weight: 1;
	justify-content: center;
	display: flex;
}

header .content2 a{
	color: #ffffff;
	font-size: 1.5rem;
	font-weight: 1;
	justify-content: center;
	display: flex;
}

header .content3 a{
	color: #3a3a3a;
	font-size: 1.2rem;
	font-weight: 1;
	justify-content: center;
	display: flex;
}

header .content4 a{
	color: #3a3a3a;
	font-size: 1.3rem;
	font-weight: 1;
	justify-content: left;
	display: flex;
}

.blur{
	box-shadow: 0 0 19000px 40px #45a7a7c0;
	animation: fadeIn2 1s ease-in-out forwards;
}

@keyframes fadeIn2 {
    0% 
    {
		margin-top: 28rem;
    }
	50% 
    {
		margin-top: 28rem;
    }
    100% 
    {
		margin-top: 6rem;
    }
}

.box div{
	position: absolute;
	width: 60px;
	height: 60px;
	background-color: transparent;
	border: 6px solid rgba(255,255,255,0.8);
}

.box div:nth-child(1){
	top: 12%;
	left: 32%;
	animation: anime 5s linear infinite;
}

.box div:nth-child(2){
	top: 70%;
	left: 90%;
	animation: anime 2s linear infinite;
}

.box div:nth-child(3){
	top: 17%;
	left: 6%;
	animation: anime 4s linear infinite;
}

.box div:nth-child(4){
	top: 20%;
	left: 65%;
	animation: anime 5s linear infinite;
}

.box div:nth-child(5){
	top: 67%;
	left: 70%;
	animation: anime 1s linear infinite;
}

.box div:nth-child(6){
	top: 80%;
	left: 70%;
	animation: anime 7s linear infinite;
}

.box div:nth-child(7){
	top: 60%;
	left: 80%;
	animation: anime 7s linear infinite;
}

.box div:nth-child(8){
	top: 32%;
	left: 25%;
	animation: anime 8s linear infinite;
}

.box div:nth-child(9){
	top: 90%;
	left: 25%;
	animation: anime 4s linear infinite;
}

.box div:nth-child(10){
	top: 60%;
	left: 8%;
	animation: anime 3s linear infinite;
}

@keyframes anime{
	0%{
		transform: scale(0) translateY(0) rotate(0);
		opacity: 1;
		border: 6px solid #00ffaa;
		background-color: #00ffbf88;
	}	
	50%{
		border: 6px solid #00fff2;
		background-color: #00fff288;
	}
	100%{
		transform: scale(1.3) translateY(-90px) rotate(360deg);
		opacity: 0;
		background-color: #5a5a5a75;
		border: 6px solid #5a5a5a;
	}
}